.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-title {
  font-weight: 900;
  font-size: 1.8rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-button {
  background-color: #fff;
  color: #0b0b0b;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
